extends layout

block content
  // Navigation
  a.menu-toggle.rounded(href='#')
    i.fas.fa-bars
  nav#sidebar-wrapper
    ul.sidebar-nav
      li.sidebar-brand
        a.js-scroll-trigger(href='#page-top') Start Bootstrap
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#page-top') Home
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#about') About
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#services') Services
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#portfolio') Portfolio
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#contact') Contact
  // Header
  header.masthead.d-flex
    .container.text-center.my-auto
      h1.mb-1 Red Bicicletas
      h3.mb-5
        em A Free Bootstrap Theme by Start Bootstrap
      a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
    .overlay
  // About
  section#about.content-section.bg-light
    .container.text-center
      .row
        .col-lg-10.mx-auto
          h2 Stylish Portfolio is the perfect theme for your next project!
          p.lead.mb-5
            | This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
            a(href='https://unsplash.com/') Unsplash
            | !
          a.btn.btn-dark.btn-xl.js-scroll-trigger(href='#services') What We Offer
  // Services
  section#services.content-section.bg-primary.text-white.text-center
    .container
      .content-section-heading
        h3.text-secondary.mb-0 Services
        h2.mb-5 What We Offer
      .row
        .col-lg-3.col-md-6.mb-5.mb-lg-0
          span.service-icon.rounded-circle.mx-auto.mb-3
            i.icon-screen-smartphone
          h4
            strong Responsive
          p.text-faded.mb-0 Looks great on any screen size!
        .col-lg-3.col-md-6.mb-5.mb-lg-0
          span.service-icon.rounded-circle.mx-auto.mb-3
            i.icon-pencil
          h4
            strong Redesigned
          p.text-faded.mb-0 Freshly redesigned for Bootstrap 4.
        .col-lg-3.col-md-6.mb-5.mb-md-0
          span.service-icon.rounded-circle.mx-auto.mb-3
            i.icon-like
          h4
            strong Favorited
          p.text-faded.mb-0
            | Millions of users
            i.fas.fa-heart
            |             Start Bootstrap!
        .col-lg-3.col-md-6
          span.service-icon.rounded-circle.mx-auto.mb-3
            i.icon-mustache
          h4
            strong Question
          p.text-faded.mb-0 I mustache you a question...
  // Callout
  section.callout
    .container.text-center
      h2.mx-auto.mb-5
        | Welcome to
        em your
        |         next website!
      a.btn.btn-primary.btn-xl(href='https://startbootstrap.com/themes/stylish-portfolio/') Download Now!
  // Portfolio
  section#portfolio.content-section
    .container
      .content-section-heading.text-center
        h3.text-secondary.mb-0 Portfolio
        h2.mb-5 Recent Projects
      .row.no-gutters
        .col-lg-6
          a.portfolio-item(href='#!')
            .caption
              .caption-content
                .h2 Stationary
                p.mb-0 A yellow pencil with envelopes on a clean, blue backdrop!
            img.img-fluid(src='img/portfolio-1.jpg' alt='')
        .col-lg-6
          a.portfolio-item(href='#!')
            .caption
              .caption-content
                .h2 Ice Cream
                p.mb-0 A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!
            img.img-fluid(src='img/portfolio-2.jpg' alt='')
        .col-lg-6
          a.portfolio-item(href='#!')
            .caption
              .caption-content
                .h2 Strawberries
                p.mb-0 Strawberries are such a tasty snack, especially with a little sugar on top!
            img.img-fluid(src='img/portfolio-3.jpg' alt='')
        .col-lg-6
          a.portfolio-item(href='#!')
            .caption
              .caption-content
                .h2 Workspace
                p.mb-0 A yellow workspace with some scissors, pencils, and other objects.
            img.img-fluid(src='img/portfolio-4.jpg' alt='')
  // Call to Action
  section.content-section.bg-primary.text-white
    .container.text-center
      h2.mb-4 The buttons below are impossible to resist...
      a.btn.btn-xl.btn-light.mr-4(href='#!') Click Me!
      a.btn.btn-xl.btn-dark(href='#!') Look at Me!
  // Map
  #main_map
  // Footer
  footer.footer.text-center
    .container
      ul.list-inline.mb-5
        li.list-inline-item
          a.social-link.rounded-circle.text-white.mr-3(href='#!')
            i.icon-social-facebook
        li.list-inline-item
          a.social-link.rounded-circle.text-white.mr-3(href='#!')
            i.icon-social-twitter
        li.list-inline-item
          a.social-link.rounded-circle.text-white(href='#!')
            i.icon-social-github
      p.text-muted.small.mb-0 Copyright &copy; Your Website 2020
  // Scroll to Top Button
  a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
    i.fas.fa-angle-up
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom scripts for this template
  script(src='/javascripts/stylish-portfolio.min.js')
  //Map
  script(src='/javascripts/map.js')